    a.custom-link:link {
        color: green; 
        text-decoration: underline; 
  }
  
    a.custom-link:visited {
        color: purple; 
        text-decoration: none; 
  }

  img {
    width: 300px; 
    height: auto; 
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: azure;
   
  }

  
  
  h1 {
    color: #333;
    padding: 20px;
   
  }
  
  img {
    display: block;
    margin: 0 auto;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
  }